
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

header {
  background-color: #ff6f00;
  color: #fff;
  text-align: center;
  padding: 1rem;
}

h1 {
  font-size: 3rem;
  margin: 0;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
}

section {
  margin-bottom: 2rem;
  background-color: #fff;
  padding: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h2 {
  font-size: 2rem;
  color: #ff6f00;
  word-wrap:break-word;
}

p {
  font-size: 1.2rem;
  color: #555;
}

img {
  display: block;
  margin: 1rem auto;
  border-radius: 4px;
  width:35vw;
  height:30vh;
}

footer {
	position:fixed;
	bottom:0;
	width:100vw;
  background-color: #ff6f00;
  color: #fff;
  text-align: center;
  padding: 1rem;
}
